div.title
    h2 체험 둘러보기
    h3 현지 전문가와 함께하는 독특한 액티비티에 오프라인이나 온라인으로 참여해 보세요.
div#innerFrame
    div.experience
        img.experienceImg(src="https://a0.muscache.com/im/pictures/247a1ea3-946d-4eb8-a6ab-e8b9a66846f4.jpg?im_w=1200", alt="", srcset="")
        h4(style="margin:0px;") 추천 컬렉션 : 여행 본능을 깨우는 체험
        span(style="font-size:13px;") 온라인 체험으로 집에서 랜선 여행을 즐기세요
    div.experience.middleExperienceImg
        img.experienceImg(src="https://a0.muscache.com/im/pictures/a6b08861-feb8-4a01-a76d-b33d2867b441.jpg?im_w=1200", alt="", srcset="")
        h4(style="margin:0px;") 온라인 체험
        span(style="font-size:13px;") 호스트와 실시간으로 소통하면서 엑티비티를 즐겨보세요.
    div.experience
        img.experienceImg(src="https://a0.muscache.com/im/pictures/ad109d56-2421-40cd-98e6-e114160dc85b.jpg?im_w=1200", alt="", srcset="")
        h4(style="margin:0px;") 체험
        span(style="font-size:13px;") 어디에서든 세계 각지의 매력을 만나실 수 있습니다.
